
{% comment %} le footer {% endcomment %}
<footer style="background-color:#0b5380fd; padding: 40px 20px; border-top: 1px solid #e9ecef;margin-top:50px">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        
        {% comment %} les infos pour l'entreprise {% endcomment %}
        <div style="flex: 1; min-width: 200px;">
            <h4 style="color: rgba(236, 241, 245, 0.87)">Contactez-Nous</h4>
            <p style="color: rgba(236, 241, 245, 0.87)">4 Rue basanga<br> Lubumbashi, RDC</p>
            <p style="color: rgba(236, 241, 245, 0.87)">Téléphone : +243 8 28 57 42 55<br>Email : <a href="mailto:contact@example.com" style="color: rgb(23, 160, 23); text-decoration: none;">michelnyembo28@gmail.com</a></p>
        </div>
        
        {% comment %} les liens {% endcomment %}
        <div style="flex: 1; min-width: 200px;">
            <h4 style="color: rgba(236, 241, 245, 0.87);">Liens Utiles</h4>
            <ul style="list-style: none; padding: 0;">
                <li><a href="/about" style="color: rgb(23, 160, 23); text-decoration: none;">À propos</a></li>
                <li><a href="/faq" style="color: rgb(23, 160, 23); text-decoration: none;">FAQ</a></li>
                </ul>
        </div>
        
        {% comment %} les réseaux sociaux {% endcomment %}
        <div style="flex: 1; min-width: 200px;">
            <h4 style="color: rgba(236, 241, 245, 0.87)">Suivez-Nous</h4>
            <div style="display: flex; gap: 10px;">
                <a href="https://facebook.com" target="_blank" style="color: rgb(23, 160, 23); text-decoration: none;"><i class="fab fa-facebook-f"></i></a>
                <a href="https://wa.me/243997813109" target="_blank" style="color: rgb(23, 160, 23); text-decoration: none;"><i class="fab fa-whatsapp"></i></a>
                <a href="https://instagram.com" target="_blank" style="color: rgb(23, 160, 23); text-decoration: none;"><i class="fab fa-instagram"></i></a>
                <a href="https://linkedin.com" target="_blank" style="color: rgb(23, 160, 23); text-decoration: none;"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>

    {% comment %} infos pour le dévéloppeur {% endcomment %}
    <div style="text-align: center; margin-top: 20px;color: rgba(236, 241, 245, 0.87);">
        <p>&copy; 2024 Maïck_Service. Tous droits réservés.</p>
        <p>Développé avec &hearts; par <a href="https://www.votre-agence-web.com" style="color: rgb(23, 160, 23); text-decoration: none;" target="_blank">Michel Nyembo</a></p>
    </div>
</footer>

{% comment %} le lien pour les icons {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
