{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<style>
    #categorie_menu{
        width: 110px;
        color: #d4e6d8;
        margin: 20px;
        background-color: #34ac50;
        border-radius: 5px;
    }
    .marquee {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        background: rgba(236, 235, 235, 0.692);
        color: #82a189;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .marquee-text {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 60s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>
<!-- Message défilant -->
<div class="marquee">
    <div class="marquee-text">
        Bienvenue sur notre site ! Découvrez nos nouvelles collections et promotions !
    </div>
</div>
<div>
    <a class="nav-link dropdown-toggle" id="categorie_menu" role="button" data-toggle="dropdown" aria-haspopup="true" >
        Catégorie
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for categ in categorie   %}
            <a class="dropdown-item" href="{% url 'shop:search_categorie' categ.id %}" >{{categ.name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row" style="margin-left: 10px;margin-right: 10px;">
        {% for prod in product %}
            <div class="col-md-3" style="margin-bottom:40px;">
                <div class="card">
                    <a href="{% url 'shop:detail' prod.id %}"><img src="{{ prod.image.url }}" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="{% url 'shop:detail' prod.id %}" style="text-decoration: none;">
                            <div class="card-title" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:larger;color: #34ac50;" >{{ prod.title }}</div>
                        </a>
                        <div class="card-text" style="color: orange;"> $ {{ prod.price }}</div>
                        <a href="{% url 'shop:detail' prod.id %}"><button class="btn btn-warning">Voir</button></a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'store:add_to_cart' prod.id %}" class="btn btn-primary">Ajouter au panier</a>
                        {% endif %} 
                    </div>
                </div>
            </div>
            {% empty %}
            <h2>Cette Catégorie n'est comptient aucun produit</h2>
        {% endfor %}   
    </div>
    <div class="row mt-3 " >
        {% if product.has_previous or product.has_next %}
        <div class="col-md-6 offset-md-3">
            <ul class="pagination">
                {% if product.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product.previous_page_number }}">Précédent</a>
                    </li>
                {% endif %}
                  
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product.number }}">{{ product.number }}</a>
                    </li>
                {% if product.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product.next_page_number }}">Suivant</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}


