{% extends "shop/base.html" %}

{% block content %}

    {% for message in messages %}
        {{message}}
    {% endfor %}
    <br>
    {% if user.is_authenticated %}
    
      <h3>Bonjour {{username}} bienvenue sur maïck de réseaux</h3>
      <button type="submit"><a href="{% url 'accounts:logout_user' %}">Se déconnecter</a></button>

    {% else %}

        <button type="submit"><a href="{% url 'accounts:register_user' %}">S'enregistrer</a></button>
        <button type="submit"><a href="{% url 'accounts:login_user' %}">Se connecté</a></button>

    {% endif %}

{% endblock content %}