{% extends "shop/base.html" %}

{% block titre %}
  <title>Réinitialisation de mot de passe</title>
{% endblock titre %}
{% block content %}
  
    <center>
        <h3> pour reinitialiser votre mot de passe entrer votre addresse email</h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input style="width: 100px;margin-left:48.5%" value="Envoyer" type="submit" name="send">
            <br><br>
        </form>
    </center>
{% endblock content %}