{% extends "shop/base.html" %}
{% load static %}

{% block titre %}
  <title>Panier</title>
{% endblock titre %}

{% block navbar %}
{% include "shop/navbar_sans_recherche.html" %}
{% endblock navbar %}

{% block content %}
<style>
        /* Ajoutez ce CSS à votre fichier de styles */
    .container {
        max-width: 1200px; /* Augmentez la largeur maximale du conteneur */
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table {
        width: 100%; /* Assurez-vous que la table prend toute la largeur disponible */
    }

    .table th, .table td {
        text-align: center; /* Centrez le texte dans les cellules */
    }

</style>
<div class="container mt-5">
    <h3 class="mb-4 text-center">Votre Panier</h3>
    
    {% if form.errors %}
    <div class="alert alert-danger">
        <ul class="mb-0">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% endif %}

    {% if orders %}
    <div class="table-responsive mb-4">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix unitaire</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.product.title }}</td>
                    <td>
                        <form action="{% url 'store:update_cart' order.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="number" name="quantity" class="form-control" value="{{ order.quantity }}" min="1">
                                <button type="submit" class="btn btn-warning btn-sm">Modifier</button>
                            </div>
                        </form>
                    </td>
                    <td class="text-center">$ {{ order.product.price }}</td>
                    <td class="text-center">$ {{ order.prix_total }}</td>
                    <td class="text-center">
                        <a href="{% url 'store:remove_from_cart' order.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between mb-4">
        <h4><strong>Total Panier: <span style="color: rgb(255, 3, 3);"> $  {{ total }} </span></strong></h4>
    </div>

    <h4 class="mb-3">Passer une commande</h4>
    <form method="post" action="{% url 'store:cart' %}">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.user_name.label_tag }}
                {{ form.user_name }}
            </div>
            <div class="col-md-6">
                {{ form.user_email.label_tag }}
                {{ form.user_email}}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.user_phone.label_tag }}
                {{ form.user_phone}}
            </div>
            <div class="col-md-6">
                {{ form.delivery_address.label_tag }}
                {{ form.delivery_address}}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Passer la commande</button>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                    <a href="{% url 'store:delete_cart' %}" style="background-color: red;color:white;text-decoration:none;border-radius:6px;text-align:center;padding-top:10px;padding-left:5px;padding-right:5px">
                        supprimer le panier
                    </a>
            </div>
        </div>
    </form>
    {% else %}
    <div class="alert alert-info text-center">
        Votre panier est vide.
    </div>
    {% endif %}
</div>

{% endblock content %}
